<div class="jumbotron">
    <h1>OLD MVC Version - not supported any more</h1>
    <p class="lead">Web API consumed with jQuery.</p>

    <p><button id="btnGetAllValues" type="button" class="btn btn-primary btn-lg">Get all values</button></p>

    <form class="form-inline">
        <div class="form-group">
            <button id="btnGetValueById" type="button" class="btn btn-primary btn">Get value by ID</button>
            <input id="valueId" type="text" class="form-control" />
        </div>
    </form>

</div>

<div>
    <div id="divResult">
        Placeholder for result...
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/app/index.js"></script>
}
