
<div ng-controller="chartsController as vm">

    <md-content>

        <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
                      md-row-height="2:2"
                      md-gutter="12px" md-gutter-gt-sm="8px">

            <md-grid-tile class="box-shadow">
                <canvas id="chartCheckings" class="chart chart-bar"
                        chart-data="vm.chartCheckingsData"
                        chart-labels="vm.chartCheckingsLabels"
                        chart-series="vm.chartCheckingsSeries"
                        chart-options="vm.chartCheckingsOptions"
                        chart-dataset-override="vm.chartCheckingsDatasetOverride"
                        chart-click="vm.chartCheckingsClick"></canvas>
                <md-grid-tile-footer>
                    <md-button class="md-raised md-primary"
                               ng-click="vm.chartCheckingsRandomize()">
                        Change Checkings
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="box-shadow">
                <div class="doughnut-text-inside">
                    {{ vm.doughnutText }}
                </div>
                <div class="doughnut-text-inside-smaller">
                    {{ vm.doughnutTextSmall }}
                </div>
                <canvas id="chartFunds" class="chart-doughnut"
                        chart-data="vm.fundsData"
                        chart-labels="vm.fundsLabels"
                        chart-options="vm.fundsOptions"
                        chart-click="vm.chartFundsClick"></canvas>
                <md-grid-tile-footer>
                    <md-button class="md-raised md-primary"
                               ng-click="vm.chartFundsRandomize()">
                        Change Funds
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="box-shadow">
                <canvas id="chartCashFlow" class="chart-line"
                        chart-data="vm.chartCashFlowData"
                        chart-labels="vm.chartCashFlowLabels"
                        chart-series="vm.chartCashFlowSeries"
                        chart-options="vm.chartCashFlowOptions"
                        chart-dataset-override="vm.chartCashFlowDatasetOverride"
                        chart-click="vm.chartCashFlowClick"></canvas>
                <md-grid-tile-footer>
                    <md-button class="md-raised md-primary"
                               ng-click="vm.chartCashFlowRandomize()">
                        Change Cash flow
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="box-shadow">
                <canvas id="chartAccounting" class="chart chart-line"
                        chart-data="vm.chartAccountingData"
                        chart-labels="vm.chartAccountingLabels"
                        chart-series="vm.chartAccountingSeries"
                        chart-options="vm.chartAccountingOptions"
                        chart-dataset-override="vm.chartAccountingDatasetOverride"
                        chart-click="vm.chartAccountingClick"></canvas>
                <md-grid-tile-footer>
                    <md-button class="md-raised md-primary"
                               ng-click="vm.chartAccountingRandomize()">
                        Change Accounting
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="box-shadow">
                <canvas id="chartGoals" class="chart chart-horizontal-bar"
                        chart-data="vm.chartGoalsData"
                        chart-labels="vm.chartGoalsLabels"
                        chart-series="vm.chartGoalsSeries"
                        chart-options="vm.chartGoalsOptions"
                        chart-dataset-override="vm.chartGoalsDatasetOverride"
                        chart-click="vm.chartGoalsClick"></canvas>
                <md-grid-tile-footer>
                    <md-button class="md-raised md-primary"
                               ng-click="vm.chartGoalsRandomize()">
                        Change Goals
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>
