

<div ng-controller="chartsController as vm" class="card-charts">
    <md-content class="md-padding" layout="row" layout-align="start stretch" layout-xs="column">

        <md-card flex>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Checkings</span>
                </md-card-title-text>

            </md-card-title>

            <md-card-content layout="column" layout-align="center center">

                <div class="chartus">
                    <canvas id="chartCheckings" class="chart chart-bar"
                            chart-data="vm.chartCheckingsData"
                            chart-labels="vm.chartCheckingsLabels"
                            chart-series="vm.chartCheckingsSeries"
                            chart-options="vm.chartCheckingsOptions"
                            chart-dataset-override="vm.chartCheckingsDatasetOverride"
                            chart-click="vm.chartCheckingsClick"></canvas>
                </div>

                <md-button class="md-raised md-primary"
                           ng-click="vm.chartCheckingsRandomize()">
                    Change Checkings
                </md-button>

            </md-card-content>
        </md-card>

        <md-card flex>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Cash flow</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content layout="column" layout-align="center stretch">

                <div class="chartus">
                    <canvas id="chartCashFlow" class="chart-line"
                            chart-data="vm.chartCashFlowData"
                            chart-labels="vm.chartCashFlowLabels"
                            chart-series="vm.chartCashFlowSeries"
                            chart-options="vm.chartCashFlowOptions"
                            chart-dataset-override="vm.chartCashFlowDatasetOverride"
                            chart-click="vm.chartCashFlowClick"></canvas>
                </div>

                <md-button class="md-raised md-primary"
                           ng-click="vm.chartCashFlowRandomize()">
                    Change Cash flow
                </md-button>

            </md-card-content>

        </md-card>

        <md-card flex>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Available funds</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content layout="column" layout-align="center center">

                <div class="chartus">
                    <canvas id="chartCashFlow" class="chart-doughnut"
                            chart-data="vm.chartFundsData"
                            chart-labels="vm.chartFundsLabels"
                            chart-click="vm.chartFundsClick"></canvas>
                </div>

                <md-button class="md-raised md-primary"
                           ng-click="vm.chartFundsRandomize()">
                    Change Available funds
                </md-button>

            </md-card-content>

        </md-card>


        <md-card flex>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Accounting</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content layout="column" layout-align="center center">
                <div class="chartus">
                    <canvas id="chartCashFlow" class="chart chart-line"
                            chart-data="vm.chartAccountingData"
                            chart-labels="vm.chartAccountingLabels"
                            chart-series="vm.chartAccountingSeries"
                            chart-options="vm.chartAccountingOptions"
                            chart-dataset-override="vm.chartAccountingDatasetOverride"
                            chart-click="vm.chartAccountingClick"></canvas>
                </div>

                <md-button class="md-raised md-primary"
                           ng-click="vm.chartAccountingRandomize()">
                    Change Accounting
                </md-button>

            </md-card-content>

        </md-card>

    </md-content>

</div>