
<div ng-controller="chartsController as vm">
    <md-content class="md-padding" layout="row" layout-xs="column">
        <div flex-xs flex-gt-xs="50">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Checkings</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content layout="row" layout-align="space-between">

                    <md-button id="btnAddUser" class="md-raised md-primary"
                               ng-click="">
                        Checkings
                    </md-button>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Available funds</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content layout="row" layout-align="space-between">

                    <md-button id="btnAddUser" class="md-raised md-primary"
                               ng-click="">
                        Available funds
                    </md-button>
                </md-card-content>

            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Cash flow</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between">

                    <md-button id="btnAddUser" class="md-raised md-primary"
                               ng-click="">
                        Cash flow
                    </md-button>

                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Accounting</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between">

                    <md-button id="btnAddUser" class="md-raised md-primary"
                               ng-click="">
                        Accounting
                    </md-button>

                </md-card-content>
            </md-card>
        </div>

    </md-content>

</div>