
<md-sidenav id="sidebar-left" class="md-whiteframe-7dp"
            md-is-locked-open="$mdMedia('gt-sm') && vm.isSidebarOpen"
            md-component-id="sidenav"
            layout="column" flex>

    <div>

        <md-toolbar id="sidebar-toolbar" layout="column" layout-align="space-between stretch">

            <div layout="row" layout-align="space-between center">

                <img src="/app/assets/img/logo.png" aria-label="logo" />

                <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="vm.toggleSidebar()">
                    <md-tooltip>Close Side Panel</md-tooltip>
                    <md-icon class="material-icons">chevron_left</md-icon>
                </md-button>

            </div>

            <div layout="column" class="md-toolbar-tools-bottom inset">
                <img class="avatar" src="app/assets/img/avatar.png" />
                <div><span style="font-weight: bold">{{ vm.userFullName }}</span></div>

                <md-select id="sidebar-select" ng-model="vm.userFullName" placeholder="{{vm.userFullName}}" class="md-no-underline">
                    <md-option value="Anna Nowak">Anna Nowak</md-option>
                    <md-option value="Adam Snow">Adam Snow</md-option>
                    <md-option value="Eric Leigh">Eric Leigh</md-option>
                </md-select>

            </div>

        </md-toolbar>


        <md-list>

            <md-list-item ng-repeat="p in vm.subPages" ng-click="vm.changeState(p.state)">
                <md-icon class="material-icons">{{ p.icon }}</md-icon>
                <p> {{ p.state }}</p>
            </md-list-item>

            <md-subheader class="md-no-sticky">Charts</md-subheader>

            <md-list-item ng-click="vm.changeState('Charts')">
                <md-icon class="material-icons">insert_chart</md-icon>
                <p>Charts.js</p>
            </md-list-item>

            <md-list-item ng-click="vm.changeState('ChartsGoogle')">
                <md-icon class="material-icons">pie_chart</md-icon>
                <p>Charts Google</p>
            </md-list-item>

            <md-list-item ng-click="vm.changeState('HighCharts')">
                <md-icon class="material-icons">multiline_chart</md-icon>
                <p>Highcharts</p>
            </md-list-item>

            <md-list-item ng-click="vm.changeState('Settings')">
                <md-icon class="material-icons">settings</md-icon>
                <p>Settings</p>
                <div class="md-secondary">4</div>
            </md-list-item>

        </md-list>

    </div>

    <div flex></div>

    <md-toolbar id="footer-sidebar">
        <div layout="row" layout-align="center center" flex>
            <md-icon class="material-icons">shopping_cart</md-icon>
            <md-icon class="material-icons">accessible</md-icon>
            <md-icon class="material-icons">alarm</md-icon>
            <md-icon class="material-icons">bookmark_border</md-icon>
        </div>
    </md-toolbar>

</md-sidenav>