html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.padding-0-10 {
    padding: 0px 10px;
}

.padding-0-25 {
    padding: 0px 25px;
}

/* Navbar */

header {
    display: flex;
    flex-direction: row;
    flex: 0 0 5%;
}

#toolbar-navbar {
    background-color: #ffffff;
}

#logo-image {
    height: 44px;
}

/* Footer */

#toolbar-footer {
    display: flex;
    flex: 0 0 5%;

    font-size: 14px;
    color: #ffffff;
    height: 76px;
    background-color: #58595B;
    padding: 0px 40px;
}

    #toolbar-footer a {
        padding: 0px 10px;
    }

    #toolbar-footer .footer-links {
        padding: 0px 40px;
    }

    #toolbar-footer .footer-social i {
        font-size: 24px;
    }

/* Main Content */

#main-with-header-content {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    background-image: url(/app/assets/img/bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
}

#main-content {
    margin: 20px 40px;
}

.title {
    font-family: 'Century Gothic', 'Helvetica Neue', sans-serif;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.87);
}

    .title .blue-bold {
        color: #4A78BC;
        font-weight: bold;
    }

.separator-blue {
    width: 100px;
    height: 3px;
    background-color: #4A78BC;
    border: none;
}

.subtitle {
    font-family: 'Century Gothic', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    color: rgba(0, 0, 0, 0.87);
}

/* Main content - Card */

.card {
    background-color: #FAFAFA;
    padding: 25px 25px;
}

.image-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

    .image-container .image-overlay {
        font-size: 24px;
        color: #FFFFFF;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(74, 120, 188, 0.8);
    }

    .image-container .text-overlay {
        font-size: 24px;
        color: #FFFFFF;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0px 0px 25px 35px;
    }

.button-custom {
    height: 36px;
    color: #ffffff;
    background-color: #1C9B51;
    font-size: 14px;
    box-shadow: 0px 6px 6px gray;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.26);
    border: none;
    margin: 16px 8px;
    border-radius: 40px;
    text-transform: uppercase;
}

    .button-custom:hover {
        background-color: #198847;
    }

#button-google {
    color: #ffffff;
    background-color: #E28F26;
    margin: 16px 8px;
}

    #button-google:hover {
        background-color: #C77E21;
    }

    #button-google i {
        padding: 0px 16px 0px 0px;
    }

.hr-with-text-container {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    text-align: center;
    font-size: 14px;
    color: rgba(0,0,0,0.38);
    margin: 10px 0px 20px;
}

.hr-with-text-content {
    background-color: #FAFAFA;
    padding: 0 10px;
}

/* ---------------------------- */

.text-regular {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}

    .text-regular a {
        color: #4A78BC;
    }


#icon-lock {
    color: #E39839;
}


.yellow {
    background: #ffff8d;
    background-color: #ffff8d;
}

.blue {
    background: #84ffff;
    background-color: #84ffff;
}

.red {
    background: #ff8a80;
}
