html, body {
    margin: 0;
    background: #EEE;
}

.header-max {
    background-image: url('/assets/img/if/bg2.jpg');
    box-shadow: inset 0 0 0 1000px rgba(74, 120, 188,.8);
    background-position: 50% 50%;
    height: 476px;
}

.header-min {
    background-color: #fff;
    color: #000;
    height: 50px;
}

#page {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 150;
    font: 18px sans-serif;
    transition: all .25s ease-out;
}

.placeholders > div {
    background-color: #ebf2f6;
    opacity: 0.5;
    filter: alpha(opacity=70);
    margin: 20px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1A1A1A;
    transition: all .25s ease-out;
}

.logged-user {
    padding: 16px 20px;
}

    .logged-user > img {
        width: 56px;
        height: auto;
        border-radius: 50%;
    }

    .logged-user > div > .business-name {
        font-size: 24px;
    }

    .logged-user > div > .logged-name {
        font-size: 14px;
    }

.header-containt {
    padding-left: 39px;
    padding-right: 39px;
}


#main-grid {
    margin-top: 476px;
    background-color: #EEEEEE;
    box-sizing: border-box;
    font: 14px sans-serif;
    transition: all .25s ease-out;
    padding: 8px;
}

    #main-grid md-content {
        background-color: transparent;
    }

    #main-grid md-grid-tile-footer {
        background-color: transparent;
    }

    #main-grid md-card-footer {
        padding: 16px 0 0;
    }

    #main-grid md-card md-card-title {
        padding: 30px 38px 16px;
    }

.card-button {
    color: #1C9B51;
    font-weight: bold;
}

/*Mocks*/
.height-300 {
    height: 300px;
}

.height-400 {
    height: 400px;
}
.height-500 {
    height: 500px;
}


.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    margin-top: 0;
    font-size: 40px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    font-weight: bold;
}

    .owl-prev:hover,
    .owl-next:hover {
        opacity: 0.8;
        filter: alpha(opacity=80); /* For IE8 and earlier */
    }
.owl-prev { left: 15px; }
.owl-next { right: 15px; }

@media screen and (min-width: 960px) {
    .owl-prev,
    .owl-next { display: none; }
}
@media screen and (max-width: 960px) {
    .owl-prev,
    .owl-next { display: block; }
}




.tns-outer {
    display: flex;
    flex-direction: column;
}

#tns1-iw { order: 1; }

.tns-nav {
    order: 2;
    text-align: center;
}

    .tns-nav > [aria-controls] {
        width: 9px;
        height: 9px;
        padding: 0;
        margin: 0 5px;
        border-radius: 50%;
        background: rgba(255,255,255, 0.54);
        border: 0;
    }

    .tns-nav > [aria-selected="true"] { background: #fff; }

