[md-header-picture] {
    background-image: url('/app/assets/img/bg2.jpg');
    position: relative;
    width: 100%;
    height: 0; /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
    padding-bottom: 476px;
    overflow: hidden;
    background-size: 100%; /* You can override this value if your picture has a weird ratio */
    background-position: 50% 50%;
    box-shadow: inset 0 0 0 1000px rgba(74, 120, 188,.8);
}

[scroll] {
    position: fixed;
    top: 0;
}

.header-containt {
    padding-left: 39px;
    padding-right: 39px;
}

.placeholders > div {
    background-color: #ebf2f6;
    opacity: 0.5;
    filter: alpha(opacity=70);
    margin: 20px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1A1A1A;
    transition: all .25s ease-out;
}

.logged-user {
    padding: 16px 20px;
}

    .logged-user > img {
        width: 56px;
        height: auto;
        border-radius: 50%;
    }

    .logged-user > div > .business-name {
        font-size: 48px;
    }

    .logged-user > div > .logged-name {
        font-size: 20px;
    }

.card-button {
    color: #1C9B51;
    font-weight: bold;
}

#main-grid {
    background-color: #EEEEEE;
    padding: 24px;
}

    #main-grid md-content {
        background-color: transparent;
    }

    #main-grid md-grid-tile-footer {
        background-color: transparent;
    }

    #main-grid md-card-footer {
        padding: 16px 0 0;
    }

    #main-grid md-card md-card-title {
        padding: 30px 38px 16px;
    }


/*Mocks*/
.height-300 {
    height: 300px;
}

.height-400 {
    height: 400px;
}
.height-500 {
    height: 500px;
}
