body {
    background-color: #EEEEEE;
}

main {
  overflow-y: auto;
}

/*footer {
bottom: 0;
left: 0;
position: absolute;
right: 0;
}*/

.table-bordered {
    border-collapse: collapse;
    width: 100%;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-bordered tr:nth-child(even){background-color: #f2f2f2;}

.table-bordered tr:hover {background-color: #ddd;}

.table-bordered th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /*background-color: #3F51B5;*/
    color: rgba(0,0,0,.54);
}

.round-image {
    border-radius: 50%;
}

/*md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 50vw !important;
    max-width: 200px !important;
    position:relative;
}*/

.box-shadow {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.doughnut-text-inside {
    width: 100%; height: 40px; position: absolute; top: 45%; left: 0; margin-top: -20px; line-height:19px; text-align: center; z-index: 999999999999999
}
.doughnut-text-inside-smaller {
    width: 100%; height: 40px; position: absolute; top: 52%; left: 0; margin-top: -20px; line-height:19px; text-align: center; z-index: 999999999999999;
    font-size:smaller;
}

md-grid-list { margin: 8px; }

.gray {
  background: #f5f5f5; }

.green {
  background: #b9f6ca; }

.yellow {
  background: #ffff8d; }

.blue {
  background: #84ffff; }

.purple {
  background: #b388ff; }

.red {
  background: #ff8a80; }