body {
    background-color: #EEEEEE;
}

main {
  overflow-y: auto;
}

.table-bordered {
    border-collapse: collapse;
    width: 100%;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-bordered tr:nth-child(even){background-color: #f2f2f2;}

.table-bordered tr:hover {background-color: #ddd;}

.table-bordered th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /*background-color: #3F51B5;*/
    color: rgba(0,0,0,.54);
}

.round-image {
    border-radius: 50%;
}

/*md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 50vw !important;
    max-width: 200px !important;
    position:relative;
}*/