<!DOCTYPE html>
<html>
<head>
    <title>Mongus 2.0</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="icon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="Content/angular-material.css" rel="stylesheet" />
    <link href="Content/clients.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="Content/font-awesome.css" rel="stylesheet" />

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-aria.js"></script>
    <script src="Scripts/angular-messages.js"></script>
    <script src="Scripts/angular-material.js"></script>

    <script src="app/config.js"></script>
    <script src="app/mongusApp.js"></script>
    <script src="app/components/clients/clientService.js"></script>
    <script src="app/components/clients/clientsController.js"></script>

    <script src="Scripts/Chart.js"></script>
    <script src="Scripts/angular-chart.js"></script>
</head>
<body ng-app="mongusApp" layout="column" ng-controller="clientsController as vm">
    <md-toolbar layout="row">
        <md-button class="menu" ng-click="vm.toggleSidenav()" aria-label="Show Client List" hide-gt-sm>
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <h1>Angular Material Starter</h1>
    </md-toolbar>
    <div class="container" layout="row" flex>
        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="sidenav-left">
            <md-list ng-click="vm.toggleSidenav()">
                <md-list-item ng-repeat="c in vm.clients">
                    <md-button ng-click="vm.selectClient(c)">
                        <md-icon md-svg-src="{{ c.avatar }}" class="avatar"></md-icon>
                        {{ c.name }}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content id="content" flex style="padding: 5px 40px 0px 40px">
            <md-icon md-svg-src="{{ vm.selected.avatar }}" class="avatar"></md-icon>
            <h2>{{ vm.selected.name }}</h2>
            <p>{{ vm.selected.content }}</p>

            <md-button class="share" md-no-ink aria-label="Share with {{ vm.selected.name }}" ng-click="vm.share(vm.selected)">
                <md-icon>share</md-icon>
            </md-button>
        </md-content>
    </div>
</body>
</html>

