<!DOCTYPE html>
<html>
<head>
    <title>Mongus 2.0</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="icon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="Content/angular-material.css" rel="stylesheet" />
    <link href="Content/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="Content/font-awesome.css" rel="stylesheet" />

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-aria.js"></script>
    <script src="Scripts/angular-messages.js"></script>
    <script src="Scripts/angular-material.js"></script>

    <script src="app/config.js"></script>

    <script src="app/mongusApp.js"></script>
    <script src="app/components/clients/clientService.js"></script>
    <script src="app/components/index/indexController.js"></script>
    <script src="app/components/values/valuesController.js"></script>
    <script src="app/components/register/registerController.js"></script>
    <script src="app/components/users/usersController.js"></script>
    <script src="app/components/charts/chartsController.js"></script>
    <script src="app/components/clients/clientsController.js"></script>

    <!-- preety url -->
    <!--<base href="/">-->
    <script src="Scripts/Chart.js"></script>
    <script src="Scripts/angular-chart.js"></script>
</head>
<body ng-app="mongusApp">
    <div ng-controller="indexController" layout="column" layout-fill ng-cloak md-theme="{{ theme }}" ng-style="myStyle">
        <!--<md-content class="md-no-momentum">-->
        <header>

            <md-toolbar class="md-whiteframe-7dp">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Side Panel" ng-click="toggleSidebar()">
                        <md-tooltip>Open Side Panel</md-tooltip>
                        <md-icon class="material-icons">menu</md-icon>
                    </md-button>


                    <a href="/">
                        <img class="logo-image" src="/app/assets/img/logo.png" style="width: 44px; height:44px;">
                        <!--<md-truncate>Mongus Dominus AngularJS Material</md-truncate>-->
                    </a>
                    <md-button aria-label="Values..." href="#!/values">
                        Values
                    </md-button>
                    <md-button aria-label="Register..." href="#!/register">
                        Register
                    </md-button>
                    <md-button aria-label="Users..." href="#!/users">
                        Users
                    </md-button>
                    <md-button aria-label="Users..." href="#!/charts">
                        Charts
                    </md-button>
                    <md-button aria-label="Users..." href="#!/clients">
                        Clients
                    </md-button>
                    <span flex></span>

                    <div id="search-caller">
                        <input type="text" id="search-input" placeholder="Search on website..." />
                        <md-button class="md-icon-button" aria-label="Search button" ng-click="">
                            <md-icon class="material-icons">search</md-icon>
                        </md-button>
                    </div>

                    <md-button class="md-icon-button" aria-label="Notifications button" ng-click="">
                        <md-tooltip>Notifications...</md-tooltip>
                        <md-icon class="material-icons">notifications</md-icon>
                    </md-button>

                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Tools menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
                            <md-tooltip>Tools...</md-tooltip>
                            <md-icon class="material-icons">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="changeTheme()">
                                    <md-icon class="material-icons">airplay</md-icon>
                                    Change Theme
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="">
                                    <md-icon class="material-icons">directions_run</md-icon>
                                    Logout
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <!--<md-button aria-label="Change Theme..." ng-click="changeTheme()" class="md-raised md-warn">
                        Change Theme
                    </md-button>-->
                    <!--<md-fab-speed-dial md-open="false" md-direction="down" class="md-scale">
                        <md-fab-trigger>
                            <md-button aria-label="menu">
                                <md-icon class="material-icons">more_vert</md-icon>
                            </md-button>
                        </md-fab-trigger>

                        <md-fab-actions>
                            <md-button aria-label="Twitter" class="md-fab md-raised md-mini" ng-click="changeTheme()">
                                <md-tooltip>Change Theme</md-tooltip>
                                <md-icon class="material-icons">airplay</md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>-->

                </div>

            </md-toolbar>

            <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                        md-component-id="leftSidebar" layout="column" layout-fill>

                <div flex>
                    <md-toolbar>
                        <span flex></span>

                        <div layout="row">
                            <div layout="column" class="md-toolbar-tools-bottom inset">
                                <img class="round-image" src="app/assets/img/avatar.png" style="width: 100px; " />
                                <span></span>
                                <div>John Smith</div>
                            </div>
                            <span flex></span>
                            <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="toggleSidebar()">
                                <md-tooltip>Close Side Panel</md-tooltip>
                                <md-icon class="material-icons">chevron_left</md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-list>
                        <md-list-item>
                            <md-icon class="material-icons">home</md-icon>
                            <p>Home</p>
                        </md-list-item>
                        <md-subheader class="md-no-sticky">Favorites</md-subheader>
                        <md-list-item>
                            <md-icon class="material-icons">&#xE0C9;</md-icon>
                            <p>Messages</p>
                            <div class="md-secondary">4</div>
                        </md-list-item>
                        <md-list-item>
                            <md-icon class="material-icons">&#xE878;</md-icon>
                            <p>Events</p>
                            <md-icon class="md-secondary">2</md-icon>
                        </md-list-item>
                        <md-list-item>
                            <md-icon class="material-icons">&#xE251;</md-icon>
                            <p>Photos</p>
                            <md-icon class="md-secondary">2</md-icon>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-subheader class="md-no-sticky">Management</md-subheader>
                        <md-list-item>
                            <md-icon class="material-icons">&#xE7F9;</md-icon>
                            <p>Pages Feed</p>
                            <div class="md-secondary">2</div>
                        </md-list-item>
                        <md-list-item>
                            <md-icon class="material-icons">settings</md-icon>
                            <p>Settings</p>
                        </md-list-item>
                        <md-list-item>
                            <md-icon class="material-icons">contacts</md-icon>
                            <p>Contacts</p>
                        </md-list-item>
                    </md-list>
                </div>
                <md-toolbar>
                    <div layout="row" layout-align="center center" flex>
                        <md-icon class="material-icons">shopping_cart</md-icon>
                        <md-icon class="material-icons">accessible</md-icon>
                        <md-icon class="material-icons">alarm</md-icon>
                        <md-icon class="material-icons">bookmark_border</md-icon>
                    </div>
                </md-toolbar>

            </md-sidenav>

        </header>

        <main flex>

            <md-whiteframe class="md-whiteframe-2dp" layout-align="center center">

                <div ng-view></div>

            </md-whiteframe>

        </main>
        <footer>
            <md-toolbar>
                <div layout="row" layout-align="space-between center" flex>
                    <div>Copyright 2017 IT Company. All rights reserved.</div>
                </div>
            </md-toolbar>
        </footer>

        <!--</md-content>-->
    </div>
</body>
</html>