<!DOCTYPE html>
<html>
<head>
    <title>Mongus 2.0</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="icon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="Content/angular-material.css" rel="stylesheet" />
    <link href="Content/login.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="Content/font-awesome.css" rel="stylesheet" />

    <!-- Angular -->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-aria.js"></script>
    <script src="Scripts/angular-messages.js"></script>
    <script src="Scripts/angular-material.js"></script>

    <!-- App -->
    <script src="app/config.js"></script>
    <script src="app/components/login/LoginController.js"></script>

</head>
<body ng-app="login">

    <div id="container" ng-controller="loginController as vm">

        <div id="main-with-header-content">

            <header>
                <md-toolbar id="toolbar-navbar" class="md-whiteframe-7dp">
                    <div class="md-toolbar-tools">
                        <a href="/">
                            <img id="logo-image" src="/app/assets/img/logo.png">
                        </a>
                    </div>
                </md-toolbar>

            </header>

            <main id="main-content" layout="column" layout-align="space-between stretch" flex>

                <div layout="column"
                     layout-gt-sm="row"
                     layout-align="center center">

                    <div id="welcome-msg" hide-xs hide-sm>
                        <span class="title">Welcome<br /> <span class="blue-bold">back!</span></span>
                        <hr class="separator-blue" align="left" />
                        <span class="subtitle">We're delighted to<br /> see you again.</span>
                    </div>

                    <div class="md-whiteframe-7dp">

                        <div class="image-container">
                            <img src="app/assets/img/login.jpg" alt="workstation">
                            <div class="image-overlay">
                                <span class="text-overlay">Login to your account</span>
                            </div>
                        </div>


                        <div class="card">

                            <md-content layout-padding class="md-no-momentum">
                                <form ng-submit="vm.Signin()">
                                    <md-input-container class="md-block">
                                        <input ng-model="vm.email" type="email" placeholder="Email">
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <input ng-model="vm.passwd" type="password" placeholder="Password">
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <md-checkbox name="rememberme" ng-model="vm.remember">
                                            Remembed me.
                                        </md-checkbox>
                                    </md-input-container>

                                    <div layout="column" layout-align="center center">
                                        <input type="submit" class="button-custom padding-0-25" value="Login">

                                        <div class="hr-with-text-container">
                                            <span class="hr-with-text-content">
                                                Or
                                            </span>
                                        </div>

                                        <md-button id="button-google" ng-click="vm.GoogleSignIn()">
                                            <div class="padding-0-8" layout="row" layout-align="center center">
                                                <i class="fa fa-lg fa-google"></i>
                                                Login with Google
                                            </div>
                                        </md-button>
                                    </div>
                                </form>
                            </md-content>


                            <p class="text-regular"><a href="/">Forgot password?</a></p>
                            <p class="text-regular">Don't have an account? Click <a href="/">here</a> to sign up.</p>
                        </div>

                    </div>
                </div>

                <div class="text-regular padding-20-0-0" layout="row" layout-align="start center">
                    <div><md-icon class="material-icons yellow-margin-10">lock</md-icon></div>
                    <div>
                        <span>
                            IT Company is committed to your security and the protection of your confidential information throughout your IT Company experience.
                            <a href="#">Learn more</a> about our security measures.
                        </span>
                    </div>
                </div>
            </main>

        </div>

        <footer>
            <md-toolbar id="toolbar-footer">
                <div layout="column"
                     layout-gt-sm="row"
                     layout-align="center center"
                     layout-align-gt-sm="space-between center"
                     flex>

                    <div flex>
                        Copyright 2017 IT Company. All rights reserved.
                    </div>

                    <div class="footer-links">
                        <a href="#">Terms of Service</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Sitemap</a>
                        <a href="#">Contact</a>
                    </div>

                    <div class="footer-social">
                        <a href="http://linkedin.com"><i class="fa fa-linkedin-square"></i></a>
                        <a href="http://facebook.com"><i class="fa fa-facebook"></i></a>
                        <a href="http://instagram.com"><i class="fa fa-instagram"></i></a>
                        <a href="http://twitter.com"><i class="fa fa-twitter"></i></a>
                        <a href="http://youtube.com"><i class="fa fa-youtube"></i></a>
                    </div>

                </div>
            </md-toolbar>
        </footer>

    </div>

</body>
</html>