<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.Material" version="1.1.5" targetFramework="net461" />
  <package id="AngularJS.Animate" version="1.6.5" targetFramework="net461" />
  <package id="AngularJS.Aria" version="1.6.5" targetFramework="net461" />
  <package id="AngularJS.Core" version="1.6.5" targetFramework="net461" />
  <package id="AngularJS.Messages" version="1.6.5" targetFramework="net461" />
  <package id="AngularJS.Route" version="1.6.5" targetFramework="net461" />
  <package id="Chart.js" version="2.6.0" targetFramework="net461" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net461" developmentDependency="true" />
</packages>