html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
}
#wrapper {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: flex;
}
.padding-20 {
  padding: 20px;
}
.padding-0-8 {
  padding: 0px 8px;
}
.padding-0-25 {
  padding: 0px 25px;
}
.padding-20-0-0 {
  padding: 20px 0 0;
}
.padding-20-10-10 {
  padding: 20px 10px 0px;
}
.padding-20-50-10-20 {
  padding: 20px 50px 10px 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.display-flex {
  display: flex;
}
/* Navbar */
header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}
#toolbar-navbar {
  background-color: #FFFFFF;
}
#toolbar-navbar > div {
  min-height: 64px;
}
/* Footer */
#toolbar-footer {
  display: flex;
  font-size: 14px;
  color: #ffffff;
  min-height: 76px;
  background-color: #58595B;
  padding: 0px 40px;
}
#toolbar-footer a {
  padding: 0px 10px;
}
#toolbar-footer .footer-links {
  padding: 0px 40px;
}
#toolbar-footer .footer-social i {
  font-size: 24px;
}
@media only screen and (max-width: 960px) {
  #toolbar-footer {
    padding: 0px 10px;
  }
  #toolbar-footer .footer-links {
    padding: inherit;
  }
  #toolbar-footer > div > div {
    padding: 10px 0px;
    text-align: center;
  }
}
/* Main Content */
#main-with-header-content {
  flex: 1 0;
}
#main-content {
  padding: 50px 10px 20px;
  margin-top: 64px;
}
@media only screen and (max-width: 960px) {
  #main-content {
    padding: 20px 20px;
  }
  #welcome-msg {
    flex-basis: auto;
    /*flex: 0 1 auto;*/
  }
  #card md-card {
    flex-basis: auto;
    /*flex: 0 1 auto;*/
  }
}
#card {
  max-width: 1080px;
}
.flex-540px {
  flex: 1 1 540px;
}
#welcome-msg {
  /*font-family: 'Century Gothic', 'Helvetica Neue', sans-serif;*/
  color: #ffffff;
  padding: 40px 28px 30px;
  background-image: url(/assets/img/if/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 540px rgba(74, 120, 188, 0.8);
  box-sizing: border-box;
  font-size: 64px;
}
.subtitle {
  font-size: 40px;
}
.separator-white {
  width: 100px;
  height: 3px;
  background-color: #ffffff;
  border: none;
  margin: 40px 0px 20px;
}
/* Main content - Login form */
.login-form {
  margin: 0;
}
.login-form md-card-content {
  padding: 0px 60px;
}
@media only screen and (max-width: 360px) {
  .login-form md-card-content {
    padding: 0px 20px;
  }
}
#card md-card-title {
  padding: 35px 35px 30px;
}
#card md-input-container {
  margin: 5px 0;
}
.button-custom {
  height: 36px;
  color: #ffffff;
  background-color: #1C9B51;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: none;
  margin: 8px 8px 16px;
  border-radius: 40px;
  text-transform: uppercase;
}
.button-custom:hover {
  background-color: #198847;
}
.google-btn {
  width: 191px;
  height: 46px;
  background-image: url(/assets/img/google/btn_google_signin_light_normal_web.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.hr-with-text-container {
  width: 100%;
  height: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.38);
  margin: 10px 0px 20px;
}
.hr-with-text-content {
  background-color: #FAFAFA;
  padding: 0 10px;
}
/* ---------------------------- */
.text-regular {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  text-align: justify;
}
.text-regular a {
  color: #4A78BC;
}
.yellow {
  color: #E39839;
}