<div class="text-regular"
     layout="column"
     layout-gt-xs="row" 
     layout-align="space-between center">
    <div layout="row">
        <div><md-icon class="material-icons yellow">lock</md-icon></div>
        <div class="padding-0-8">
            <span>
                Idea Financial is committed to your security and the protection of your confidential information.
            </span>
        </div>
    </div>
    <div>
        <img class="padding-20" src="assets/img/mcafee.png" />
    </div>
</div>