
<div ng-controller="highChartsController as vm">
    <style>
        highchart{
    width:100% !important;
    height:100% !important;
    position:absolute;
}
    </style>
    <md-content>
        
        <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
                      md-row-height="2:2"
                      md-gutter="12px" md-gutter-gt-sm="8px">
            <md-grid-tile class="box-shadow">
                <highchart id="checkingsChart"/>
                <md-grid-tile-header>
                    <md-button class="md-raised md-primary"
                               ng-click="vm.chartCheckingsRandomize()">
                        Change Checkings
                    </md-button>
                </md-grid-tile-header>
            </md-grid-tile>

            <md-grid-tile class="box-shadow">

                <highchart id="fundsChart" />
                <md-grid-tile-footer>
                    <md-button class="md-raised md-primary"
                               ng-click="vm.chartFundsRandomize()">
                        Change Available funds
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="box-shadow">
                <highchart id="cashChart"/>
                <md-grid-tile-footer>
                    <md-button class="md-raised md-primary"
                               ng-click="vm.chartCashFlowRandomize()">
                        Change Cash flow
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="box-shadow">
                <highchart id="accountingChart" />

                <md-grid-tile-footer>
                    <md-button class="md-raised md-primary"
                               ng-click="vm.chartAccountingRandomize()">
                        Change Accounting
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>