
<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Test application using AngularJS Material and MongoDB</span>
                    <span class="md-subhead">Under constant construction...</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, ut labore nostrud maluisset qui, ex ius quem legere.
                    An usu adipisci scriptorem, nonumy libris discere eu qui, at vim adhuc munere.
                    Eam prima accumsan singulis te, mei accusam invenire ex. Vel ad dolorem facilis civibus, vis in quaeque admodum disputando.
                </p>
                <p>
                    Ne eam enim ocurreret, id eam eius eripuit. Vix suas iisque an, munere aeterno rationibus te vix.
                    Vis velit ancillae reprehendunt in, vim ea meis dictas iracundia, nulla feugait ius ea. His soleat volutpat eu, at velit feugait eum. Per no suas assentior.
                </p>
                <p>
                    Eum saepe animal no. Te clita iracundia reprimique vel, elitr nusquam lucilius id per, putant epicurei periculis mea ei.
                    Ex iudico possim regione vim. Cu aperiam feugait verterem vix. Usu id choro causae. Alterum conclusionemque pro id, quando dissentiet in usu, mei quod odio eu.
                </p>
                <p>
                    No fabulas vivendo epicurei mea, duo et vidisse epicuri. Ut sumo eirmod perfecto ius.
                    Velit splendide et mel. Et ferri solum nihil qui, no mel veniam perfecto corrumpit. Nec vide percipitur intellegam at, eam idque explicari id. In dicam impetus has, sed brute eruditi at.
                </p>
                <p>
                    No pri habeo officiis cotidieque, novum apeirian eu vix, discere percipit concludaturque qui id. Dicat liber eu vix, vis no melius dignissim interesset.
                    Nonumes detraxit quo at, et porro detracto cum. Ex modus tacimates est, id eum idque liber nonumy. At decore menandri per. Quas quando has te.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary">Action 1</md-button>
                <md-button class="md-raised md-primary">Action 2</md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Vertical action buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, ut labore nostrud maluisset qui, ex ius quem legere.
                    An usu adipisci scriptorem, nonumy libris discere eu qui, at vim adhuc munere.
                    Eam prima accumsan singulis te, mei accusam invenire ex. Vel ad dolorem facilis civibus, vis in quaeque admodum disputando.
                </p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <md-button class="md-raised md-primary">Action 3</md-button>
                <md-button class="md-raised md-primary">Action 4</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Icon action buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, ut labore nostrud maluisset qui, ex ius quem legere.
                    An usu adipisci scriptorem, nonumy libris discere eu qui, at vim adhuc munere.
                    Eam prima accumsan singulis te, mei accusam invenire ex. Vel ad dolorem facilis civibus, vis in quaeque admodum disputando.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Home">
                    <md-icon class="material-icons">home</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon class="material-icons">favorite</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Money">
                    <md-icon class="material-icons">attach_money</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>

        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <i class="fa fa-3x fa-bullhorn"></i>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">AngularJS</span>
                    <span class="md-subhead">Material</span>
                </md-card-header-text>
            </md-card-header>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with header</span>
                    <span class="md-subhead">Description</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, ut labore nostrud maluisset qui, ex ius quem legere.
                    An usu adipisci scriptorem, nonumy libris discere eu qui, at vim adhuc munere.
                    Eam prima accumsan singulis te, mei accusam invenire ex. Vel ad dolorem facilis civibus, vis in quaeque admodum disputando.
                </p>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <i class="fa fa-3x fa-apple"></i>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">AngularJS</span>
                    <span class="md-subhead">Material</span>
                </md-card-header-text>
            </md-card-header>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with long text</span>
                    <span class="md-subhead">Description</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, ut labore nostrud maluisset qui, ex ius quem legere.
                    An usu adipisci scriptorem, nonumy libris discere eu qui, at vim adhuc munere.
                    Eam prima accumsan singulis te, mei accusam invenire ex. Vel ad dolorem facilis civibus, vis in quaeque admodum disputando.
                </p>
                <p>
                    Ne eam enim ocurreret, id eam eius eripuit. Vix suas iisque an, munere aeterno rationibus te vix.
                    Vis velit ancillae reprehendunt in, vim ea meis dictas iracundia, nulla feugait ius ea. His soleat volutpat eu, at velit feugait eum. Per no suas assentior.
                </p>
                <p>
                    Eum saepe animal no. Te clita iracundia reprimique vel, elitr nusquam lucilius id per, putant epicurei periculis mea ei.
                    Ex iudico possim regione vim. Cu aperiam feugait verterem vix. Usu id choro causae. Alterum conclusionemque pro id, quando dissentiet in usu, mei quod odio eu.
                </p>
                <p>
                    No fabulas vivendo epicurei mea, duo et vidisse epicuri. Ut sumo eirmod perfecto ius.
                    Velit splendide et mel. Et ferri solum nihil qui, no mel veniam perfecto corrumpit. Nec vide percipitur intellegam at, eam idque explicari id. In dicam impetus has, sed brute eruditi at.
                </p>
                <p>
                    No pri habeo officiis cotidieque, novum apeirian eu vix, discere percipit concludaturque qui id. Dicat liber eu vix, vis no melius dignissim interesset.
                    Nonumes detraxit quo at, et porro detracto cum. Ex modus tacimates est, id eum idque liber nonumy. At decore menandri per. Quas quando has te.
                </p>
            </md-card-content>
        </md-card>

    </div>
</md-content>
